# NOTE: for the docker-compose file
# rename file to docker.env

VERSION=0.1.0
CONTAINER_NAME=xqtl-explorer-service

# one of: prod, dev
BUILD=prod

# port mapping on host
PORT=3000

# flag indicating if build has Git dependendcies (i.e., install a npm package directly from a repo)
# 0 -> FALSE, 1 -> TRUE
GIT_DEPENDENCIES=1

# full path each on the host
# APPLICATION => project directory containing the application code
APPLICATION_DIR=
