# NOTE: this file is meant for client-side environmental variables, which must be prefixed with `NEXT_PUBLIC_`
# see https://nextjs.org/docs/pages/building-your-application/configuring/environment-variables

# rename file to .env
