@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		@apply text-blue-500 no-underline hover:underline;
	}
	html {
		font-family: "Open Sans", system-ui, sans-serif;
	}

    main {
        @apply p-5 mb-auto
    }
}

/* for pretty-printing json */
.json {@apply m-3}
.string { @apply text-green-800 }
.number { color: darkorange; }
.boolean { color: blue; }
.null { @apply text-gray-700 }
.key { @apply text-yellow-700 }
